body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 93vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;

}

.header {
    font-size: 2em;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.requests {
    list-style: none;
    padding: 0;
    width: 100%;
    margin-left: -5px;
}

.requests li {
    background-color: #ddd;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 25px;
    text-align: center;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 10px;
    position: relative;
    top: 350px;
}

.cancel-button, .select-button {
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
}

.cancel-button {
    background-color: #f08080; /* Светло-красный */
}

.select-button {
    background-color: #8774E1; /* Фиолетовый */
}

/* Нижняя навигация */
.bottom-nav {
    width: 100%;
    background-color: #ddd;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nav-icon {
    color: #333;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
}

.nav-icon.active {
    color: #929BF8;
}

/* Media Queries for Smaller Devices */
@media (max-width: 480px) {

    .nav-icon {
        font-size: 30px;
    }

    .container {
        padding: 10px;
    }
}

/* Media Query for Tablets or Landscape Orientation */
@media (min-width: 768px) and (orientation: landscape) {
    .container {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
    }

    .content {
        width: 70%;
        padding: 10px;
    }

    .bottom-nav {
        width: 30%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 20px 0;
        position: static;
    }

    .nav-icon {
        margin-bottom: 15px;
    }
}

