/* Общие стили */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.app-container {
    width: 100%;
    max-width: 400px; /* Максимальная ширина для имитации экрана телефона */
    margin: 0 auto;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
}

/* Верхняя часть экрана */
.header {
    padding: 20px;
    text-align: left;
    position: relative;
}


.header h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.create-button {
    background-color: #8774E1;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 0.8em;
}
/* Список вопросов */
.faq-list {
    padding: 20px;
}

.faq-item {
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 10px 15px;
    border-radius: 25px;
    margin-bottom: 15px;
}
.question {
    display: flex;
    align-items: center;
}
.faq-item p {
    margin: 0;
}

.faq-content {
    max-height: 0;
    overflow: hidden;
    margin-top: 10px;
    background-color: #979797;
    padding: 0 10px;
    border-radius: 10px;
    transition: max-height 0.5s ease, padding 0.5s ease;
}
.faq-content p {
    margin: 10px 0;
}

.expand-button {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #555;
    transition: color 0.3s;
}

.expand-button:hover {
    color: #333;
}
.menu-button {
    width: 80%;
    padding: 10px;
    margin-bottom: 16px;
    border: none;
    border-radius: 20px;
    background-color: #ddd;
    color: #333;
    font-size: 1rem;
    cursor: pointer;
    text-align: center; /* Ensure text is horizontally centered */
    display: flex; /* Add flex display */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    transition: all 0.5s ease;
}
/* Нижняя навигация */

.bottom-nav {
    width: 100%;
    background-color: #ddd;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nav-icon {
    color: #333;
    font-size: 30px;
    text-decoration: none;
}

.nav-icon.active {
    color: #929BF8;
}

/* Media Queries for Smaller Devices */
@media (max-width: 480px) {

    .nav-icon {
        font-size: 30px;
    }

    .container {
        padding: 10px;
    }
}

