body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.container {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.login-button {
    background-color: #8774E1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}

.bottom-nav {
    width: 100%;
    background-color: #ddd;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nav-icon {
    color: #333;
    font-size: 30px;
    text-decoration: none;
}

.nav-icon.active {
    color: #929bf8;
}

/* Media Queries for Smaller Devices */
@media (max-width: 480px) {
    .menu-button {
        font-size: 16px;
        padding: 10px;
        border-radius: 15px;
    }

    .nav-icon {
        font-size: 30px;
    }

    .container {
        padding: 10px;
    }
}

/* Media Query for Tablets or Landscape Orientation */
@media (min-width: 768px) and (orientation: landscape) {
    .container {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
    }

    .content {
        width: 70%;
        padding: 10px;
    }

    .bottom-nav {
        width: 30%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 20px 0;
        position: static;
    }

    .nav-icon {
        margin-bottom: 15px;
    }
}

