/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 30px;
}

h1 {
    text-align: left;
    margin-bottom: 30px;
    right: 10px; 
}

.button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #ddd;
    color: #000;
    text-align: center;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #ccc;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ddd;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.nav-icon {
    color: #333;
    font-size: 30px;
    text-decoration: none;
}

.nav-icon.active {
    color: #929BF8
}

/* Media Queries for Smaller Devices */
@media (max-width: 480px) {

    .nav-icon {
        font-size: 30px;
    }

    .container {
        padding: 10px;
    }
}