<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Частые заявки</title>
    <link rel="stylesheet" href="/static/Frequent_requests.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <h1 class="header">Частые заявки</h1>
        <ul class="requests">
            <li>Нет подключения к интернету</li>
            <li>Не открывается/закрывается окно</li>
            <li>Зависает компьютер</li>
            <li>Необходима переустановка ПО</li>
            <li>Мигает свет</li>
            <li>Не печатает принтер</li>
        </ul>
    </div>
    <div class="buttons-container">
        <button class="cancel-button">Отмена</button>
        <button class="select-button">Выбрать</button>
    </div>
    <div class="bottom-nav">
        <ul class='nav-list'>
            <a href="../" class="nav-icon" data-page="home">
                <i class="fa fa-home"></i>
            </a>
            <a href="../myapplication" class="nav-icon active" data-page="myapplication">
                <i class="fa fa-list active"></i>
            </a>
            <a href="../frequent" class="nav-icon" data-page="frequent">
                <i class="fa fa-clipboard"></i>
            </a>
            <a href="../profile" class="nav-icon" data-page="profile">
                <i class="fa fa-user"></i>
            </a>
        </ul>
    </div>
</body>
</html>
