<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile App Layout</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <button class="menu-button" data-page="myapplication">Мои заявки</button>
            <button class="menu-button" data-page="frequent-requests">Частые заявки</button>
            <button class="menu-button" data-page="reviews">Отзывы</button>
            <button class="menu-button" data-page="faq">Часто задаваемые вопросы</button>
        </div>

        <div class="bottom-nav">
            <a href="#" class="nav-icon active" data-page="home">
                <i class="fa fa-home"></i>
            </a>
            <a href="#" class="nav-icon" data-page="myapplication">
                <i class="fa fa-list"></i>
            </a>
            <a href="#" class="nav-icon" data-page="frequent">
                <i class="fa fa-clipboard"></i>
            </a>
            <a href="#" class="nav-icon" data-page="profile">
                <i class="fa fa-user"></i>
            </a>
        </div>
    </div>

    <script src="static/js/home_script.js"></script>
</body>
</html>