<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заявка отправлена</title>
    <link rel="stylesheet" href="/static/application_create_complete.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="app-container">
        <div class="main-content">
            <div class="success-message">
                <h1>Заявка была успешно отправлена!</h1>
                <p>Вы будете уведомлены о каждом изменении статуса заявки.</p>
            </div>
        </div>

        <!-- Кнопки действий -->
            <div class="action-buttons">
                <button class="submit-button" onclick="window.location.href='../myapplication'">К заявкам</button>
            </div>

        <!-- Bottom Navigation -->
        <nav class="bottom-nav">
            <base href="/">
            <ul class="nav-list">
                <li>
                    <a href="" class="nav-icon" aria-label="Home" data-page="home">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li>
                    <a href="myapplication" class="nav-icon active" aria-label="Myapplication" data-page="myapplication">
                        <i class="fa fa-list"></i>
                    </a>
                </li>
                <li>
                    <a href="frequent" class="nav-icon" aria-label="Frequent" data-page="frequent">
                        <i class="fa fa-clipboard"></i>
                    </a>
                </li>
                <li>
                    <a href="profile" class="nav-icon" aria-label="Profile" data-page="profile">
                        <i class="fa fa-user"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <script src="../static/js/transition.js"></script>
</body>
</html>

