<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings Page</title>
    <link rel="stylesheet" href="/static/profile_settings.css">
</head>
<body>
    {% if user.role == 'user' or user.role == 'tech' %}
        <div class="container">
            <div class="header">Настройки</div>
            <button class="button">Система</button>
            <button class="button">Уведомления</button>
            <button class="button">Изменить логин и пароль</button>
            <button class="button">Удалить профиль</button>
        </div>
    {% elif user.role =='admin' %}
        <div class="container">
            <div class="header">Настройки</div>
            <button class="button">Система</button>
            <button class="button">Уведомления</button>
            <button class="button" onclick="window.location.href='/profile/settings/add-user'"">Добавить сотрудника</button>
            <button class="button">Изменить логин и пароль</button>
            <button class="button">Удалить профиль</button>
        </div>
    {% endif %}
    <div class="bottom-nav">
        <a href="../" class="nav-icon">
            <i class="fas fa-home"></i>            
        </a>
        <a href="../myapplication" class="nav-icon">
            <i class="fas fa-list"></i>
        </a>

        <a href="../frequent" class="nav-icon">
            <i class="fas fa-clipboard-list"></i>
        </a>

        <a href="../profile" class="nav-icon active">
            <i class="fas fa-user profile"></i>            
        </a>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</body>
</html>

