<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged Out</title>
    <link rel="stylesheet" href="/static/profile_exit.css">
</head>
<body>
    <div class="container">
        <div class="message">Вы вышли из профиля</div>
        <button class="login-button" onclick="window.location.href='../login-page'">Войти</button>
    </div>
    <div class="bottom-nav">
        <a href="../" class="nav-icon">
            <i class="fas fa-home"></i>            
        </a>
        <a href="../myapplication" class="nav-icon">
            <i class="fas fa-list"></i>
        </a>

        <a href="../frequent" class="nav-icon">
            <i class="fas fa-clipboard-list"></i>
        </a>

        <a href="../profile" class="nav-icon active">
            <i class="fas fa-user profile"></i>            
        </a>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</body>
</html>

