<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Настройки</title>
    <link rel="stylesheet" href="static/progile_settings.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <h1>Настройки</h1>
        <a href="#" class="button">Система</a>
        <a href="#" class="button">Уведомления</a>
        <a href="#" class="button">Изменить логин и пароль</a>
        <a href="#" class="button">Удалить профиль</a>
    </div>

    <div class="bottom-nav">
        <a href="#" class="nav-icon" data-page="home">
            <i class="fa fa-home"></i>
        </a>
        <a href="#" class="nav-icon">
            <i class="fa fa-list"></i>
        </a>
        <a href="#" class="nav-icon">
            <i class="fa fa-clipboard"></i>
        </a>
        <a href="#" class="nav-icon active">
            <i class="fa fa-user"></i>
        </a>
    </div>
</body>
</html>

