<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отзывы</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/reviews_list.css">
</head>
<body>
    {% if user.role == 'admin' or user.role == 'user' %}
        <div class="container">
            <div class="header">
                <h1>Отзывы</h1>
            </div>
            <div class="review-item">
                <div class="review-text">
                    <p>Работа выполнена быстро и качественно</p>
                    <div class="dark-box">
                        <div class="review-reply">Большое спасибо за обратную связь</div>
                    </div>
                </div>
            </div>
            <div class="review-item">
                <div class="review-text">
                    <p>Работа выполнена, но после ремонта остался мусор. Хотелось бы, чтобы в следующий раз убирали после себя.</p>
                    <div class="dark-box">
                        <div class="review-reply">Большое спасибо за обратную связь! Мы примем к сведению Вашу информацию и улучшим качество работы.</div>
                    </div>
                </div>                
            </div>
        </div>
    {% elif user.role == 'tech' %}
        <div class="container">
            <h1 class="header">Отзывы</h1>

            <div class="review-item">
                <div class="review-header">
                    <div class="reviewer-name">Екатерина А. К.</div>
                    <button class="reply-button">Ответить</button>
                </div>
                <div class="review-text">Работа выполнена быстро и качественно. Спасибо!</div>
            </div>

            <div class="review-item">
                <div class="review-header">
                    <div class="reviewer-name">Георгий Е. Н.</div>
                    <button class="reply-button">Ответить</button>
                </div>
                <div class="review-text">Неисправность устранена, но
                    пришлось немного подождать из-за
                    отсутствия деталей. В остальном всё
                    хорошо.</div>
            </div>

            <div class="review-item">
                <div class="review-header">
                    <div class="reviewer-name">Оксана А. Ф.</div>
                    <button class="reply-button">Ответить</button>
                </div>
                <div class="review-text">Работа выполнена, но после
                    ремонта остался мусор. Хотелось
                    бы, чтобы в следующий раз убирали
                    после себя.</div>
            </div>
        </div>

        <div class="bottom-nav">
            <a href="../" class="nav-icon">
                <i class="fa fa-home"></i>
            </a>
            <a href="../myapplication" class="nav-icon">
                <i class="fa fa-list"></i>
            </a>
            <a href="../frequent" class="nav-icon active">
                <i class="fa fa-clipboard"></i>
            </a>
            <a href="../profile" class="nav-icon">
                <i class="fa fa-user"></i>
            </a>
        </div>
    {% else %}
        <button class="menu-button" onclick="window.location.href='../login'">Войдите в аккаунт<p>
    {% endif %}
        <!-- Bottom Navigation -->
        <div class="bottom-nav">
            <a href="../" class="nav-icon">
                <i class="fa fa-home"></i>
            </a>
            <a href="../myapplication" class="nav-icon">
                <i class="fa fa-list"></i>
            </a>
            <a href="../frequent" class="nav-icon active">
                <i class="fa fa-clipboard"></i>
            </a>
            <a href="../profile" class="nav-icon">
                <i class="fa fa-user"></i>
            </a>
        </div>
    </div>
    <script src="../static/js/reviews_.js"></script>
    <script src="../static/js/transition.js"></script>
</body>
</html>