<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отзыв отправлен</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/reviews1.css">
</head>
<body>
    <div class="app-container">
        <div class="main-content">
            <div class="success-message">
                <h1>Отзыв был успешно отправлен!</h1>
                <p>Вы будете уведомлены об ответе на Ваш отзыв.</p>
            </div>

            <div class="action-buttons">
                <button class="cancel-button">К отзывам</button>
                <button class="submit-button">На главную</button>
            </div>
        </div>

        <!-- Bottom Navigation -->
        <div class="bottom-nav">
            <a href="../" class="nav-icon">
                <i class="fa fa-home"></i>
            </a>
            <a href="../myapplication" class="nav-icon">
                <i class="fa fa-list"></i>
            </a>
            <a href="../frequent" class="nav-icon active">
                <i class="fa fa-clipboard"></i>
            </a>
            <a href="../profile" class="nav-icon">
                <i class="fa fa-user"></i>
            </a>
        </div>
    </div>
</body>
</html>
